<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>FenyCare CRM</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>

  <!-- Alpine.js -->
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="bg-dark text-light">

  <!-- Sidebar -->
  {% include "partials/sidebar.html" %}

  <!-- Main content -->
  <main id="main">
    {% block content %}{% endblock %}
  </main>

</body>
</html>
